<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.CompMapper">
    <select id="getMatchVO" resultType="site.hclub.hyndai.domain.Match"
            parameterType="Long">
        SELECT match_hist_no      AS matchHistoryNo
             , match_loc          AS matchLoc
             , win_team_score_no  AS winTeamScoreNo
             , lose_team_score_no AS loseTeamScoreNo
        FROM match
        WHERE match_hist_no = #{matchHistoryNo}
    </select>

    <select id="getTeamFromScoreNo" resultType="site.hclub.hyndai.domain.Team"
            parameterType="Long">
        SELECT team_no        AS teamNo
             , team_loc       AS teamLoc
             , team_name      AS teamName
             , team_goods     AS teamGoods
             , created_at     AS createdAt
             , match_type     AS matchType
             , team_image     AS teamImage
             , match_capacity AS matchCapacity
             , team_rating    AS teamRating
             , isMatched      AS isMatched
        FROM team
        WHERE team_no = (SELECT team_no
                         FROM score
                         WHERE score_no = #{score_no})
    </select>

    <select id="getLeader" resultType="site.hclub.hyndai.domain.Member">
        SELECT member_no     AS memberNo
             , member_id     AS memberId
             , member_image  AS memberImage
             , member_rating AS memberRating
             , employee_no   AS employeeNo
        FROM member
        WHERE member_no = (SELECT member_no
                           FROM member_team
                           WHERE team_no = #{teamNo}
                             AND is_leader = 'Y')
    </select>

    <insert id="addTeam" parameterType="Team">

        <selectKey keyProperty="teamNo" order="BEFORE" resultType="long">
            SELECT team_seq.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO team (team_no, team_loc, team_name, team_goods, created_at, match_type, match_capacity, team_image,
        team_rating,match_date)
        VALUES (#{teamNo}, #{teamLoc}, #{teamName}, #{teamGoods}, SYSDATE, #{matchType},
        #{matchCapacity} , #{teamImage} ,#{teamRating},#{matchDate})
    </insert>

    <insert id="addTeamMemberToTeam" parameterType="MemberTeam">
        INSERT INTO member_team (member_team_no, member_no, team_no, is_leader)
        values (member_team_seq.nextval, #{memberNo}, #{teamNo}, #{isLeader})
    </insert>


    <select id="getMembers" resultType="site.hclub.hyndai.domain.Member">
        SELECT member_no     AS memberNo
             , member_id     AS memberId
             , member_image  AS memberImage
             , member_rating AS memberRating
             , employee_no   AS employeeNo
        FROM member
        WHERE member_no IN (SELECT member_no
                            FROM member_team
                            WHERE team_no = #{teamNo}
                              AND is_leader = 'N')
    </select>

    <update id="updateScore">
        UPDATE score
        SET score_amount = #{scoreAmount}
        WHERE score_no = #{teamScoreNo}
    </update>

    <select id="getMatch" resultType="site.hclub.hyndai.domain.Match">
        SELECT match_hist_no      AS matchHistoryNo
             , match_loc          AS matchLoc
             , win_team_score_no  AS winTeamScoreNo
             , lose_team_score_no AS loseTeamScoreNo
        FROM match
        WHERE match_hist_no = #{matchHistNo}
    </select>

    <select id="getHistoryImageUrl">
        SELECT i.image_url AS imageUrl
        FROM image i
                 JOIN match_image mi
                      ON i.image_no = mi.image_no
        WHERE mi.match_hist_no = #{matchHistNo}
    </select>

    <update id="changeRating">
        UPDATE member
        SET member_rating = member_rating + #{ratingChange}
        WHERE member_no IN (SELECT member_no
                            FROM member_team
                            WHERE team_no = #{teamNo})
    </update>

    <select id="getTeamScoreNo" resultType="long">
        SELECT score_no
        FROM score
        WHERE team_no = #{team_no}
    </select>

    <select id="getTeamByTeamNo" parameterType="long" resultType="site.hclub.hyndai.dto.response.GetTeamDetailResponse">
        SELECT team_no        AS teamNo
             , team_name      AS teamName
             , match_type     AS matchType
             , team_rating    AS teamRating
             , team_loc       AS teamLoc
             , team_goods     AS teamGoods
             , match_capacity AS matchCapacity
        FROM TEAM
        WHERE team_no = #{teamNo}
    </select>

    <select id="getMemberInfoWithMemberName"
            resultType="site.hclub.hyndai.dto.MemberInfo">
        SELECT m.member_no AS memberNo,
        e.employee_name AS memberName
        FROM member m
        JOIN
        employee e ON m.employee_no = e.employee_no
        <where>
            e.employee_name LIKE '%${memberNameInput}%'
        </where>

    </select>

    <insert id="uploadImage">
        INSERT INTO image (image_no, upload_name, image_url)
        VALUES (image_seq.nextval, ${fileName}, ${url})
    </insert>

    <select id="getRankList" resultType="site.hclub.hyndai.dto.response.RankResponse">
        SELECT  member_no   AS  memberNo
                ,member_id  AS  memberId
                ,rownum     AS  rank
                ,member_image AS memberImage
                ,member_rating AS memberRating
        FROM    (
                 SELECT member_no
                        ,member_id
                        ,member_image
                        ,member_rating
                 FROM   member
                 ORDER BY member_rating DESC
                )
        WHERE   <![CDATA[ ROWNUM <= 10 ]]>
    </select>
</mapper>