<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.SettleMapper">
    <insert id="insertSettle" parameterType="site.hclub.hyndai.dto.SettleDTO">
     INSERT INTO settlement 
     ( match_hist_no, settle_amount, products_no, settle_member_id ,recipent_member_no )
     VALUES 
    ( #{matchHistNo}, #{settleAmount}, #{productsNo}, #{settleMemberId}, #{recipentMemberNo})
    </insert>
</mapper>